@import url('../../../media/jui/css/icomoon.css');

@media (min-width: 1080px) { /* BASE WIDTH */
  .container {
    width: 1210px !important;
  }
}

:root {
	--tummaoranssi: #C65010;
	/* --vaaleaoranssi: #F18800; */
	--vaaleaoranssi: #F7931E;
	--haaleaoranssi: #f7cfa0;
	/* --bs-success-rgb:25,135,84; */
	--bs-success-rgb:92,184,92;
	--bs-white-rgb:255,255,255;
}

@font-face {
    font-family:'NewsGoth-Cn-BT';
    src: url('NEWGOTBC.ttf');
}

@font-face {
    font-family:'NewsGoth-Dm-BT-Demi';
    src: url('NewsGothDmBTDemi.ttf');
}

@font-face {
    font-family:'NewsGoth-Lt-BT-Light';
    src: url('NewsGothLtBTLight.ttf');
}

html {
    scroll-behavior: smooth;
	overflow-x: hidden; /* purkka etusivun video respmodeen */
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-display: swap;
}

html, body {
	font-family: 'PT Sans Narrow', sans-serif !important;
	color: rgba(0, 0, 0, 0.9);
	font-size: 16px;
}

strong, b { /* Mac Chrome issue */
	font-weight:700 !important;
}

label {
	font-weight: 400 !important;
}

img[src="oamk-logo2.png"] {
    width:158px  !important;
	height:60px !important;
}

.mobile {
	display:none !important;
}

.fpinfo {
	border-left: 4px solid var(--tummaoranssi);
	padding:5px 0px 0px 10px;
	margin-bottom:2em;
}
.banner {
	padding:10px;
}

.alas img {
	margin-top: 103px;
}

.ankkuri {
	padding-top: 110px;
	margin-top: -110px;
}

.panel-oamk {
	background-color: #f7931e;
}

/* tällä classilla voi piilottaa elementin muilta kuin screen readerilta */ 
.sr-only {
	color:#000;
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; /* added line */
	border: 0;
}

/* BG-VÄRIT from bootstrap 5 */

.bg-primary{--bs-bg-opacity:1;background-color:rgba(var(--bs-primary-rgb),var(--bs-bg-opacity))!important}
.bg-secondary{--bs-bg-opacity:1;background-color:rgba(var(--bs-secondary-rgb),var(--bs-bg-opacity))!important}
.bg-success{--bs-bg-opacity:1;background-color:rgba(var(--bs-success-rgb),var(--bs-bg-opacity))!important}
.bg-info{--bs-bg-opacity:1;background-color:rgba(var(--bs-info-rgb),var(--bs-bg-opacity))!important}
.bg-warning{--bs-bg-opacity:1;background-color:rgba(var(--bs-warning-rgb),var(--bs-bg-opacity))!important}
.bg-danger{--bs-bg-opacity:1;background-color:rgba(var(--bs-danger-rgb),var(--bs-bg-opacity))!important}
.text-white{--bs-text-opacity:1;color:rgba(var(--bs-white-rgb),var(--bs-text-opacity))!important}

/* .rounded-pill {
	border-radius: 30px;
} */

/* YLEISET */

h1, h2, h3, h4 {
    font-family: NewsGoth-Cn-BT, news-gothic-std, sans-serif !important;	
	color: rgba(0, 0, 0, 0.9);
	word-break: normal !important;
	margin-top: 40px !important;
	margin-bottom: 12px !important;
	line-height: 1em !important;
	font-display: swap;
}

.valix {
	margin-top: 16px !important;
	margin-bottom: 16px !important;
}

form#registration_form fieldset legend {
	font-size: 1.063em !important;
}
/* h1 {font-size: 4rem;}
h2 {font-size: 2.500rem;}
h3 {font-size: 2rem;}
h4 {font-size: 1.5rem;}
h5 {font-size: 1.25rem;} */

h1 {font-size: 2.813rem;} /* 45px, ex 4rem 64px  */
h2 {font-size: 2.125em;} /* 34px, ex 40px, ex 48px */
h3 {font-size: 1.375em;} /* 22px, ex 32px */
h4 {font-size: 1.063em;} /* 17px, ex 1.5rem, ex 24px */
h5 {font-size: 0.875em;} /* 14px, ex 1.25rem 20px */

h5 { font-family: 'PT Sans Narrow', sans-serif !important;}

@media only screen and (max-device-width: 600px) and (orientation: portrait) {
	h1 {font-size: 1.625em !important;}
	h2 {font-size: 1.250em !important;}
	h3 {font-size: 1.3em !important;}
	h4 {font-size: .875em !important;}
}

@media only screen and (max-device-width: 600px) and (orientation: portrait) {
	h1 {margin-top:.5em !important;}
}

@media only screen and (max-device-width: 600px) and (orientation: portrait) {
	h1#title { padding-right: 1em;}
}

p {
	font-size: 1.125em;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

@media only screen and (max-device-width: 600px) and (orientation: portrait) {
p {
    font-size: 1em;
	word-wrap: break-word;
	white-space: normal;
	}
}

hr {
	margin: 1em 0 2em 0;
	border-top: 1px solid #000;
}

a:link,
a:visited,
a:active {
    color: #222f3e;
	text-decoration: none;
	font-weight: 700;
}

a:hover {
	color: var(--tummaoranssi);
	text-decoration: none;
}

a.stretched-link {font-weight:normal;}


/* indexistä siirretty linkkien saavutettavuuteen liittyvä säätö */
#main a:link:not(.soikiolinkki):not(.lootalinkki):not(.stretched-link), #main a:visited:not(.soikiolinkki):not(.lootalinkki):not(.stretched-link), #main a:active:not(.soikiolinkki):not(.lootalinkki):not(.stretched-link),
#oikeareuna a:link:not(.soikiolinkki):not(.lootalinkki), #oikeareuna a:visited:not(.soikiolinkki):not(.lootalinkki), #oikeareuna a:active:not(.soikiolinkki):not(.lootalinkki),
#henkilokortti a:link:not(.soikiolinkki):not(.lootalinkki), #henkilokortti a:visited:not(.soikiolinkki):not(.lootalinkki), #henkilokortti a:active:not(.soikiolinkki):not(.lootalinkki), a.pathway {
	color: var(--tummaoranssi, #C65010);	
	font-weight: normal;
}
a:hover:not(.soikiolinkki):not(.stretched-link):not(.lootalinkki):not(.luelisaa) {
	text-decoration: underline !important;
}

/* Tyylitellyt divit infoamiseen ja virheen ilmoittamiseen. Näitä käytetään yleisesti Heimossa. */
.infobox, .errorbox {
	border-radius: 3px;
	padding: 20px !important;
	margin: 15px 0 !important;
	width: auto;
	display: inline-block;
	clear: right;
	background: #f4f5f4;
	color: #333333;
	box-shadow: 2px 2px 5px 0 rgba(0,0,0,.14);
	position: relative;
	border: dashed 1px #93d377;
	border-left: .4rem solid #93d377;
	border-right: .4rem solid #93d377;
	font-size: 0.9rem;
}
div.infobox::before, div.errorbox::before {
	position: absolute;
	left: -5px;
	top: -1px;
	content: "i";
	background: #39b700;
	color: #fff;
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 17px;
	line-height: 17px;
	padding: 0 7px;
	border: solid 3px #39b700;
	border-top-left-radius: 3px;
	border-bottom-right-radius: 12px;
}
.errorbox {
	background: #f5f4f4;
	border: dashed 1px #d39377;
	border-left: .4rem solid #d39377;
	border-right: .4rem solid #d39377;
}
div.errorbox::before {
	content: "!";
	background: red;
	border: solid 3px red;
}

.cta-loota {
	background-color: var(--vaaleaoranssi);
	color: #000 !important;
	padding:10px;
}

footer a {text-decoration: none !important; font-weight: normal !important;}
a:hover {text-decoration:none !important;}
.pikalinkki li a, table.calendar a, .akkategoria a, a.flockler-btn-load-more, a.luelisaa {color:#000 !important; text-decoration:none !important;}


button:focus {
	border: 1px solid #CCC;
	outline: 0;
}

.btn-success {background-color: #387e38;}

/* päänavigaation ohituslinkki */

#skip a {
	position: fixed;
	z-index: 10000;
	left:-10000px;
	width:1px;
	height:1px;
	overflow:hidden;
	padding:5px;
	top:0;
}
 
#skip a:focus {
	left:1px;
	width:auto;
	height:auto;
	background:#ddd;
}

/* YLÄKUVAN Haku-Luelisää -NAPIT */

/* .hero-text > span > font::after {
	content: "";
} */

.ylakootesti::after {
  content: "Lue lisää";
  padding: 4px 8px;
  /* font-size: 1.2em; */
  color: #000;
  background-color: #f7931e;
}

/* NAV */

#dj-megamenu90stickylogo {
	margin-top:0;
}

.dj-megamenu-custom90 li ul.dj-submenu > li > a, .dj-megamenu-custom126 li ul.dj-submenu > li > a {
	font-size: 1.10em !important;
	font-family: 'PT Sans Narrow', sans-serif !important;
}

.dj-pos-absolute.dj-align-center .dj-accordion-light .dj-accordiontest-light {
    left: 50%;
    margin-left: -160px !important;
}


.navbar {
    margin-top: 0em;
    	border: none;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
	padding-top: 15px;
	padding-bottom: 15px;
	/* padding-left: 150px; */
	/* padding-right: 150px; */
} 

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0;
}

.navbar-default {
	background-color: #FFF !important;
} 

.navbar-brand {
	padding: 0 !important;
	cursor: pointer;
}

@media only screen and (max-device-width: 600px) and (orientation: portrait) {
	.navbar-right {
		display:none;
	}
	.navbar {
		padding-left: 0 !important;
		padding-right: 0 !important;
		padding-bottom: 0 !important;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { /* Tablet */
	.navbar {
		padding-left: 10px !important;
		padding-right: 0 !important;
	}
}

@media only screen and (max-device-width: 895px) and (orientation: landscape) {
.navbar {
    padding-left: 0 !important;
    padding-right: 0 !important;
	}
}

.dj-megamenu-wrapper { /* linjaus aktivointilaatikko */
    margin-left: 1.375em; 
}

.dj-megamenu-custom90 li a.dj-up_a, .dj-megamenu-custom126 li a.dj-up_a {
	font-family: 'NewsGoth-Cn-BT';
	font-weight: normal !important;
	font-size: 1.250em !important;
	border-right: 0px !important;
	border-left: 0px !important;
}

@media only screen and (max-device-width: 895px) and (orientation: landscape) {
.dj-megamenu-custom90 li a.dj-up_a {
    font-size: .875em !important;
}
.dj-megamenu-custom90 .dj-mobile-open-btn, .dj-megamenu-offcanvas-custom90 .dj-mobile-open-btn, .dj-megamenu-accordion-light, .dj-megamenu-accordiontest-light .dj-mobile-open-btn {
	float:right;
	margin-right:10px !important;
	}
}

@media screen and (min-width: 50.938em) and (orientation: landscape) {
.dj-megamenu-custom90 .dj-mobile-open-btn, .dj-megamenu-offcanvas-custom90 .dj-mobile-open-btn, .dj-megamenu-accordion-light, .dj-megamenu-accordiontest-light .dj-mobile-open-btn {
	float:right;
	margin-right:10px !important;
	}
}

@media screen and (min-width:0\0) { /* IE-FIXES */
	ul.dj-megamenu-custom90 li a.dj-up_a {
	font-family: inherit !important;
	font-size: .938em !important;
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { /* Tablet */
.dj-megamenu-custom90 li a.dj-up_a {
	font-size: .95em !important;
	}
.dj-subwrap-in { /* megamenu vertical */
	width:100% !important;
	}
}

@media only screen and (max-device-width: 600px) and (orientation: portrait) {
.dj-megamenu-custom126 .dj-mobile-open-btn, .dj-megamenu-offcanvas-custom126 .dj-mobile-open-btn, .dj-megamenu-custom90 .dj-mobile-open-btn, .dj-megamenu-offcanvas-custom90 .dj-mobile-open-btn, .dj-megamenu-accordion-light, .dj-megamenu-accordiontest-light .dj-mobile-open-btn {
	float:right;
	margin-right:10px !important;
	}

ul.dj-mobile-nav li a:hover {
	color: #000 !important;
	}

ul.dj-mobile-custom90 li.dj-mobileitem > a {
    font-size:1.063em !important;
	}
}

/* FORM-FIX (pääsyrajoitteiset kirjautumissivut) */
.login > form.form-horizontal > fieldset > .control-group > .control-label {
    text-align: left !important;
}

/* KIELIVALIKKO */

#kielivalikko {
	line-height:2em;
	/* padding-left: 0px; */
	position: absolute;
	right: 0;
	margin-top: 15px;
}
#kielivalikko ul {
  list-style-type: none;
  overflow: hidden;
}
#kielivalikko li {
	float: left;
	padding-left:10px;
}
#kielivalikko li a {
	font-size: 1.250em;
	text-decoration: none;
	display: inline !important;
}

@media only screen and (max-device-width: 600px) and (orientation: portrait) {
	#kielivalikko ul {
		margin-top:-54px;
	}
}
@media only screen and (max-device-width: 1024px) and (orientation: landscape) {
#kielivalikko li a {
	font-size: .95em;
}
#kielivalikko {
	width: 140px;
}
#kielivalikko li {
	padding-left:0px !important;
}
}
/* HAKU */

/* ID 352 */
a.haku {text-decoration:none !important;}
a.haku.btn-primary:hover {background-color: var(--haaleaoranssi);}

.hakupainike input[type="search"] {
	border: 0;
	width: 75%;
	padding: 7px 15px;
	border: 1px solid #ccc;
	font-size: 1.375em;
	position: relative;	
	background-color: #EEE;
	border-style: none;
	vertical-align: text-bottom;
}

.hakupainike button.button:before, .hakupainike .btn-primary {
    font-size: 1.4em !important;
	font-family: FontAwesome;
	content: "\f002";
	background: #FFF !important;
	border-style: none;
	color: #000;
	vertical-align: initial !important;
}

@media only screen and (max-device-width: 600px) and (orientation: portrait) {
.hakupainike input[type="search"] {
	border: 0;
	width: 75%;
	padding: 7px 15px;
	border: 1px solid #ccc;
	font-size:1.5em;
	position: relative;
	background: transparent;
	} 
.hakupainike input.button {
	border: 1px solid red;
	}
.hakupainike button.button:before, .btn-primary {
	font-size:1.5em !important;
	font-family: FontAwesome;
	content: "\f002";
	background: #FFF !important;
	border-style:none;
	color:#000;
	}
.hakupainike  {
	display:none;
	}
}

#hakuwrap {
    display: inline-block;
    position: relative;
    height: 50px;
    padding: 0;
    z-index: 999;
}

#hakuwrap input[type="submit"]:hover {
  opacity: 0.8;
}

#hakuwrap input[type="text"] {
    height: 60px;
    font-size: 1.350em;
    display: inline-block;
    font-family: 'PT Sans Narrow', sans-serif !important;
    border: none;
    border-style: none;
    outline: none;
    padding: 3px;
    padding-right: 60px;
    width: 0px;
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
}
#hakuwrap input[type="text"]:focus {
  width: 250px;
  z-index: 1;
  outline: 0;
  cursor: text;
}
#hakuwrap input[type="submit"] {
  height: 50px;
  width: 50px;
  display: inline-block;
  float: right;
  background-color: #fff;
  background-image: url(https://www.oamk.fi/images/grafiikka/search-solid.svg);
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 30px 30px;
  text-indent: -10000px;
  border: none;
  border-style: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { /* Tablet */
#hakuwrap {
	display:none;
	}
}

@media only screen and (max-device-width: 895px) and (orientation: landscape) {
div#hakuwrap {
	display:none;
	}
}

/* ELASTIC-HAKU */

#hakusana, #hakusana2 {
	padding: 5px !important;
	background: none !important;
	background: #fff !important;
}
#hakusana {
	font-family: 'NewsGoth-Cn-BT';
    text-transform: uppercase;
	font-size: 1.2em !important;
}
.hakutulos { padding:10px 5px !important; font-size:1em !important;}
.hakutulos a { font-weight:normal !important;}
.hakutulos .otsikko a { font-weight:bold !important;}
.ui-widget.ui-widget-content {	border: 1px solid #c5c5c5 !important; }
ul.ui-autocomplete { min-width:350px; overflow:scroll-y !important; font-size:1em !important; }
ul.ui-autocomplete li div:hover, ul.ui-autocomplete li div:focus {color: var(--tummaoranssi) !important;}
.ui-menu-item .ui-menu-item-wrapper:focus, .ui-menu .ui-menu-item-wrapper:focus-within, .ui-menu .ui-menu-item-wrapper:focus-visible, .ui-autocomplete .ui-state-focus  { color: var(--tummaoranssi) !important; }
#elahakualue { margin-top:15px !important;}
form.pikahakulomake .elahakulomakediv { padding:0; background:none; border:none; }
.elahakulomakediv {margin-bottom:0px !important;}
form #haeteksti { padding-left:10px; }
form.pikahakulomake #haeteksti { display:none; }
form.pikahakulomake #ela_haku_widget { border-color:#bbb !important; border-radius:0 !important;}


/* MURUPOLKU */

.breadcrumb .icon-location {
    display: none;
}

.breadcrumb-spacer {
	margin-top:110px;
}

.breadcrumb {
	background-color: white !important;
	border-bottom: 1px solid #EEE !important;
	border-radius: 0 !important;
	padding: 8px 0px 15px 0px !important;	
}

.breadcrumb > .active {
    color: #575757 !important;
}

.breadcrumb a {
	text-decoration: none !important;
	font-size: 1.063em !important;
}

ul.breadcrumb li:nth-child(2):before {
	content: "" !important; /* UH? */
}

ul.breadcrumb li span.divider img {
	display: none;
}

ul.breadcrumb li:nth-child(2) a.pathway:before {
    font-family: FontAwesome;
	font-size: 1.5em;
	color: var(--vaaleaoranssi);	
	padding-right: 10px;
    content: "\f015 ";
}

ol.breadcrumb li:nth-child(2):before {
	content: "" !important;
}

ol.breadcrumb li span.divider img {
	display: none;
}

ol.breadcrumb li:nth-child(2) a.pathway:before {
    font-family: FontAwesome;
	font-size: 1.5em;
	color: var(--vaaleaoranssi);
	padding-right: 10px;
    content: "\f015 ";
}

.breadcrumb > li + li::before {
	font-family: FontAwesome;
    content: "\f054";
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { /* Tablet */
	.breadcrumb {
		font-size: .85em !important;
	}

	/* mobiilin murupolku 2-askelta */
	.breadcrumb {
		display: inherit !important;
	}
	
	.breadcrumb li {
		display: inline-block;
	}
}

@media only screen and (max-device-width: 600px) and (orientation: portrait) {
	.breadcrumb {
		font-size: .85em !important;
		margin-top: 2em !important;
	}
	.breadcrumb-spacer {
		margin-top: 0 !important;
	}

	/* mobiilin murupolku 2-askelta */
	.breadcrumb {
		display: inherit !important;
	}
	
	.breadcrumb li {
		display: none;
	}
	
	.breadcrumb li:last-child, .breadcrumb li:nth-last-child(2) {
		display: inline-block;
	}
	
	.breadcrumb li:nth-last-child(3):before {
		display:none;
	}

	ul.breadcrumb {
		margin-top: 8em !important;
		padding-left: 15px !important;
	}

	ol.breadcrumb {
		margin-top: 8em !important;
		padding-left: 15px !important;
	}
}

span.divider.icon-home {
	color: var(--tummaoranssi);
}

/* HERO-IMAGE */


.hero-image {
	height: 800px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;	
	margin-top:100px !important;
}

.hero-text {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 70%;
	transform: translate(-50%, -50%);
	/* color: white; */
	line-height:4em;
}

p.hero-link {
	font-size: 1.85em !important;	
	background-color: #f7921e;
	margin: 0px 4em 0px 4em;
	border:0px solid #fff;
	border-radius: 4px;
}
p.hero-link a:hover {
	color:#fff;
}

img.verho {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

img.verho:hover {
	filter: grayscale(0%);	
} 

div.hero-text span {
	font-size:5.5em !important;
	font-family: NewsGoth-Cn-BT, news-gothic-std, sans-serif !important;
}

@media only screen and (max-device-width: 600px) and (orientation: portrait) {
	.hero-image, #videoBG {
		display: none;
	}
}

.skiptocontent {
	border: 1px solid red;
	content: " Siirry sisältöön";
}

/* TAPAHTUMALISTAUS */

ul.yhteistyossa li {
	margin-bottom:2.5em;
}

ol.ohjelmalistaus > li > h4 a {
	cursor: default;
	text-decoration: none;
} 

	.event-list .event {
		height: 140px;
	}
	/* div.event > h4 {		
	} */ 
	.event-list {
		background-color: #fff;
		box-shadow: 0px 0px 5px rgb(51, 51, 51);
		box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
		padding: 0px;
		margin: 0px 0px 20px;
	}
	.event-list > div > time {
		display: inline-block;
		width: 100%;
		color: #fff;
		background-color: rgb(34,47,62);
		padding: 5px;
		text-align: center;
		text-transform: uppercase;
	}
	.event-list > div > time {
		background-color: rgb(165, 82, 167);
	}
	.event-list > div > time > span {
		display: none;
	}
	.event-list > div > time > .day {
		display: block;
		font-size: 56pt;
		font-weight: 100;
		line-height: 1;
	}
	.event-list > div > time > .month {
		display: block;
		font-size: 24pt;
		font-weight: 900;
		line-height: 1;
	}
	@media (min-width: 768px) {
		.event-list > div > time {
			display: inline-block;
		}
		.event-list > div > time {
			width: 120px;
			float: left;
		}
		.event-list > div > time {
			width: 120px;
			height: 120px;
			padding: 0px;
			margin: 0px 15px 0px 0px;
		}
	}

/* ACCORDION MENU */

#accordion h3 {
	padding: 10px 0 10px 0px;
	margin-top:5px !important;
	margin-bottom:5px !important;
	font-size: 1.500rem !important;
	color: #000;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;	
	-webkit-user-select: none;
    padding-left: .5em;
    text-indent: -0.7em;	
}

#accordion h3:hover {
	/* color: var(--vaaleaoranssi); */
	color: #000;
}

#accordion h3:focus {
	outline: -webkit-focus-ring-color auto 0;
}

#accordion h3.ui-state-default:after {
	font-family: FontAwesome;
	content: "\f054";
	padding-left:15px;
}

#accordion h3.ui-state-active:after {
	font-family: FontAwesome;
	content: "\f078";
	padding-left:15px;
}

#accordion ul {
	margin-top:1.5em;
}

#accordion li {
	padding-bottom:10px;
}

#accordion .ui-icon, .ui-widget-content .ui-icon {
    background-image: none !important;
}

#accordion li a:hover {
	/* color: var(--vaaleaoranssi); */
}

/* ACCORDIONTEST MENU */

#accordiontest h3 {
	padding: 10px 0 10px 0px;
	margin-top:5px !important;
	margin-bottom:5px !important;
	font-size: 1.500rem !important;
	color: #000;
	cursor: pointer;
	user-select: none;
	-moz-user-select: none;	
	-webkit-user-select: none;
    padding-left: .5em;
    text-indent: -0.7em;	
}

#accordiontest h3:hover {
	/* color: var(--vaaleaoranssi); */
	color: #000;
}

#accordiontest h3:focus {
	outline: -webkit-focus-ring-color auto 0;
}

#accordiontest h3.ui-state-default:after {
	font-family: FontAwesome;
	content: "\f054";
	padding-left:15px;
}

#accordiontest h3.ui-state-active:after {
	font-family: FontAwesome;
	content: "\f078";
	padding-left:15px;
}

#accordiontest ul {
	margin-top:1.5em;
}

#accordiontest li {
	padding-bottom:10px;
}

#accordiontest .ui-icon, .ui-widget-content .ui-icon {
    background-image: none !important;
}

#accordiontest li a:hover {
	/* color: var(--vaaleaoranssi); */
}


.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 1px solid #c5c5c5 !important;
    background: #f6f6f6 !important;
    font-weight: normal;
    color: #ffffff;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545;
}

h3.akkategoria { font-size:1.5rem !important; }

h1.fpheadline {
	font-size:4em !important;
}

span.lead, .lead { /* Ingressi */
	font-family: 'PT Sans Narrow', sans-serif;
    display: table;
    font-size: 1.4em;
    padding: .5em 0em .5em 0em;
}

#sidebar h3 {
	font-size:1.5em !important;
}

#sidebar li {
    padding: 0 .2em .6em 0;
}

.container-full {
  margin: 0 auto !important;
  width: 100% !important;
}

/*  INTRO IMAGES */

.img-intro-none {
   text-align: center;
   margin-bottom: 10px;
}

.img-intro-left {
   float: left;
   margin-right: 10px;
}

.img-intro-right {
   float: right;
   margin-left: 10px;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%; 
}

/* TAULUKOT JA LISTAUS TYYLIT */

table, th, td, th {
	font-size: 1em;
}

ul, ol, li {
	font-size: 1em !important;
}

input[type="checkbox"], input[type="radio"] {
	margin-right:4px;
}

.articlebody li {
	font-size: 1.063em !important;
}

table.tiedostotaulu {border:solid 1px #999;}
table.tiedostotaulu td span.doc {display:none;}
table.tiedostotaulu td, table.tiedostotaulu th, table.tiedostotaulu caption {padding: .5rem; caption-side:top; }

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 0 !important; /* OMG! */
}

table.tutkinto-ohjelma td:nth-child(3n+1) {
	font-weight: bold;
	background: #FFF;
}

table.tutkinto-ohjelma {
	width: 100%;
	table-layout: auto;
}

table.tutkinto-ohjelma th {
	padding: 8px 20px 0 5px !important;
	word-break: keep-all; /* M FIX */
	width: auto;
	vertical-align: text-top;
	width: 1px;
    white-space: nowrap;
}

table.tutkinto-ohjelma caption {
	caption-side: bottom;
	text-align:right;
	font-size: .75rem;
	width:100%;
}

table.valpetaulu {
	table-layout: auto;
}

table.valpetaulu th {
	font-size: 1em;
	padding: 0 25px 0 5px;
	vertical-align: text-top;
}

table.valpetaulu:nth-of-type(2) th, table.valpetaulu:nth-of-type(3) th {
	width:50%;
}

table.ohjelma td {
	font-size:1.1em;
}

/* ##===============- KOULUTUSKORTIT -============## */


.d-flex { /* BS5 */
  display: flex !important;
}

.justify-content-between { /* BS5 */
  justify-content: space-between !important;
}

.p-1 {	/* BS5 */
  padding: 0.25rem !important;
}

.p-2 {	/* BS5 */
  padding: 0.5rem !important;
}

.p-3 {	/* BS5 */
  padding: 1rem !important;
}

.p-4 {	/* BS5 */
  padding: 1.5rem !important;
}

.p-5 {	/* BS5 */
  padding: 3rem !important;
}

.fs-1 {	/* BS5 */
  font-size: calc(1.375rem + 1.5vw) !important;
}

.fs-2 {	/* BS5 */
  font-size: calc(1.325rem + 0.9vw) !important;
}

.fs-3 {	/* BS5 */
  font-size: calc(1.3rem + 0.6vw) !important;
}

.fs-4 {	/* BS5 */
  font-size: calc(1.275rem + 0.3vw) !important;
}

.fs-5 {	/* BS5 */
  font-size: 1.25rem !important;
}

.fs-6 {	/* BS5 */
  font-size: 1rem !important;
}

.g-5,
.gx-5 {
  --bs-gutter-x: 3rem;
}

.badge { /* BS5 */
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}
.badge:empty {	/* BS5 */
  display: none;
}

.badge {	/* BS5 */
  position: relative;
  top: -1px;
}
.bg-secondary {	/* BS5 */
  background-color: #6c757d !important;
}

.flex-sm-column { /* BS5 */
    flex-direction: column !important;
}

.flex-md-row {	/* BS5 */
    flex-direction: row !important;
}
/* ##===============- LOOTALINKIT -============## */

.customlinkkialue {
	margin-top:1em;
	margin-bottom:1em;
    display: flex;   
    flex-flow: row wrap;
    justify-content: center;
	align-content: space-around;
}

.lootalinkit {
  height: 100%;
}

div.row > .lootalinkit {
	margin-top:20px;
}

li.ohjelma-item::before  {
  font-size:2rem;
}

.ohjelmalistaus {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: start;
  flex: 2;
}
.ohjelma-item {
  flex: 0 1 auto;
  margin: 10px;
  width:300px;
}

.lootalinkit a {
	display: flex;
	color: #222f3e;
	width: 100%;
    align-content: center;
	align-items: center;
	text-align:center;
    justify-content: center;
	word-break: normal;
	height:5.5em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.lootalinkit a:hover {
	color: #000;
	background-color: var(--vaaleaoranssi);
	width: 100%;
}

.lootalinkit a:focus {
    color: #000;
	width: 100%;
}

.lootalinkki {
	background-color: #fff;
	display: inline-block;
	margin-bottom: 10px;
	padding: 0 5px 0 5px;
	border: 4px solid;
	border-color: var(--vaaleaoranssi);
	text-decoration: none !important;
	font-family: NewsGoth-Cn-BT, news-gothic-std, sans-serif !important;
	font-size: 1.063em;
	line-height: 1.12 !important;
}

.lootalinkit a:focus {
	outline: var(--tummaoranssi) solid 4px;
}

.lootalinkki-haku {
	background-color: #ffd6a6;
}

a.lootalinkki.lock:after {
	font-family: FontAwesome;

	content: "\f023";
	padding-left:15px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { /* Tablet */
	.lootalinkki {
	font-size: 1.150em !important;
	padding: 10px 5px !important;
	}
}

@media screen and (min-width:0\0) { /* IE-FIXES */
.lootalinkit a {
	font-size: .938em;
	padding: 4px;
	}
}

@media only screen and (max-device-width: 895px) and (orientation: landscape) {
.lootalinkit a {
	width: 60%;
	}
}

.Xinfoloota {
	display: inline-block;
	margin: .85em 1em;
	padding: 5px 25px;
	border: 4px solid #d37402;
	text-decoration: none !important;
	Xbackground-color: #d37402;
	font-family: NewsGoth-Cn-BT, news-gothic-std, sans-serif !important;
	font-size: 1.5em;
}


.Xinfoloota a {
	font-size: .95em;
	color: #FFF;
}

.Xinfoloota a:hover {
	color: #000;
}


/* ##===============- LUELISÄÄ -============## */

a.luelisaa {
	display: inline-block;
	/* font-family: 'PT Sans Narrow', sans-serif !important; */
	font-family: NewsGoth-Cn-BT, news-gothic-std, sans-serif !important;
	font-size: 1.250em !important;
	font-weight: 700;
	color: #FFF;
	min-width: 6em !important;	
	border: 4px solid;
	border-color:var(--vaaleaoranssi);
	padding: 2px 10px 2px 10px;
	text-decoration: none !important;
	border-radius: 30px;
	text-align: center;
}

a.luelisaa:focus {
	outline: var(--tummaoranssi) solid 4px;
}

a.luelisaa:after {
	display:none;
	content: "\00BB";
	font-weight: 700;
	font-size: 1.4em;
	color: var(--vaaleaoranssi);
	float: right;
	padding-left: 10px;
	line-height: 25px;
}

a.luelisaa:hover {
	color:#fff;
	background-color: var(--haaleaoranssi);
}

/* ##===============- SOIKIOLINKKI -============## */

.soikiolinkit {
	justify-content: center;
}

.soikiolinkit a {
	font-family: 'PT Sans Narrow', sans-serif !important;
	color: #222f3e;
	font-weight: 700;
	width: 100%;
	display: inline-block;
}

.soikioraportti a {
	font-family: 'PT Sans Narrow', sans-serif !important;
	color: #222f3e !important;
	font-weight: 500 !important;
	width: 70% !important;
	display: inline-block !important;
}

.soikiolinkit a:hover {
	color: #000;
	width: 100%;
	background-color: var(--haaleaoranssi);
}

.soikiolinkit a:focus {
	color: #000 !important;
	background-color: #FFF !important;
}
.soikiolinkit a:focus {
	outline: var(--tummaoranssi) solid 4px;
}

.soikiolinkit a {
     -moz-user-select: none;
     -webkit-user-select: none;
     -o-user-select: none;
     -khtml-user-select: none;
    user-select: none;
    user-select: none;
	color: #000;
}

.soikiolinkki {
	display: inline-block;
	margin-bottom: 10px;
	padding: 5px 20px;
	min-width: 8em !important;	
	border: 4px solid;
	border-color:var(--vaaleaoranssi);
	text-decoration: none !important;
	border-radius: 30px;
	font-family: 'PT Sans Narrow', sans-serif !important;
	font-size: 1.3em;
}

a.soikiolinkki[href$="nain-haet-ammatilliseen-opettajakorkeakouluun"]:after {
	line-height:0px !important;
}

/* a.soikiolinkki[href$="school-of-professional-teacher-education"]:after {
	line-height:0px !important;
} */ 

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { /* Tablet */
a.soikiolinkki[href$="nain-haet-ammatilliseen-opettajakorkeakouluun"]:after {
	line-height: 0 !important;
	}
.soikiolinkki {
	font-size:1.10em !important;
	text-align: center !important;
	}
}

@media only screen and (max-device-width: 600px) and (orientation: portrait) {
	.soikiolinkki {
		text-align: center !important;
	}
	form#elahakulomake {max-width:240px; margin-top:-25px !important; clear:both;}
	form#elahakulomake input {border-radius:0 !important;}
	.header-search {margin:0 !important; padding:0 0 10px 0 !important; }
	#kielivalikko {
		margin-top: 15px;
	}
	#bs-example-navbar-collapse-1 div {padding-left:0 !important;}
}

ul.listavakanen li {
    padding-left: 1em;
    list-style-type:none;
}

ul.listavakanen li:before {
	content: "\00BB";
	font-size: 2em;
	font-weight: 700;
	color: var(--vaaleaoranssi);
	padding-right: 10px;
}

.vakanen-alas, .vakanen-ylos, .vakanen, .vakanen-vasemmalle, .vakanen-etu {
	position: relative;
	display: inline-block;
	color: var(--vaaleaoranssi);
	font-weight: bold;
}

.vakanen-alas:after, .vakanen-ylos:after, .vakanen:after, .vakanen-vasemmalle:after, .vakanen-etu:before { content: "\00BB"; }
.soikiolinkki .vakanen {float:right;}
.vakanen-alas {	transform: rotate(90deg); line-height:45px; font-size:55px; }
.vakanen-ylos {	transform: rotate(-90deg); line-height:45px; font-size:55px; }
.vakanen-vasemmalle { transform: rotate(180deg); }

/* Ajankohtaista LOOTA */

.uutislista_otsikkosolu a {
	/* font-family: NewsGoth-Cn-BT, news-gothic-std, sans-serif !important; */
	/* font-size: 1.6em; */
	font-size:1.188em;
}

/* .tapahtumaotsikkolinkki {font-family: NewsGoth-Cn-BT, news-gothic-std, sans-serif !important; font-size:1.6em; } */
/* #oikeareuna .tapahtumaotsikkolinkki { font-size:1.2rem; } */
 
.akloota-oikea h3 {
	margin-top: 10px !important;
}

.akloota-oikea h4 {
	margin-top: 10px !important;
	line-height: 1.3em !important;
	font-size: 1.250em;
}

.akloota-oikea a.soikiolinkki:after {
	content: "\00BB";
	font-family: FontAwesome;
	font-weight: 700;
	padding-left:10px;
	color: var(--vaaleaoranssi);
}

.akloota-oikea .tutkinnot ul {
	margin-left: 10px;
	padding-left: 0px;
}

.akloota-oikea .tutkinnot li {
	list-style-type: none;
	line-height: 1.350em;
	padding-bottom:10px;
	text-indent: -1.625em;
    padding-left: 1em;
}

.akloota-oikea a {
	text-decoration: none;
}

.akloota-oikea a:hover, .akloota-oikea a:active {
	color: var(--vaaleaoranssi);
}

.akloota-oikea .tutkinnot li:before {
	content: "\00BB";
	font-size: 2em;
	font-weight: 700;
	color: var(--vaaleaoranssi);
	padding-right: 10px;
}

/* PIKALINKKI */


ul.pikalinkki {
	padding-left: 0;
	letter-spacing: .0205em !important;
	font-family: 'PT Sans Narrow', sans-serif !important;
	font-size: 1.063em !important;
}

ul.pikalinkki li {
    list-style-type: none;
	display: flex;
    flex-flow: row wrap;
	line-height: 1.5em;
}

ul.pikalinkki li a {
	color: #000;
	flex: 100%;
	font-weight: 700;
    border: 4px solid;
	border-color: var(--vaaleaoranssi);
	padding: 2px 10px 2px 10px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
	text-decoration: none;
	margin-bottom: 1em;	
}

ul.pikalinkki li a:hover {
	background-color: var(--haaleaoranssi);
	color:#000;
}

ul.pikalinkki li a:after {
    content: "\f105";
	font-family: FontAwesome;
	float: right;
	color: var(--vaaleaoranssi);
	font-size: 1.250em;
}

.pikalinkit a:after {
	font-family: FontAwesome;
	content: "\F105";
	font-weight: 700;
	font-size: 1.350em;
	color: var(--vaaleaoranssi);
	position: absolute;
    right: 30px;
	line-height:28px;
}

@media only screen and (max-device-width: 895px) and (orientation: landscape) {
.pikalinkit, .pikalinkki {
		max-width: 50%;
	}
}

@media only screen and (max-device-width: 600px) and (orientation: portrait) {
	#oikeareuna ul.pikalinkki {
		margin-right: 15px;
	}
}

.oikeareuna {
	margin-top:2.15em;
}

/* OTSIKKOKUVAKKEET */

h2.otsicon {
	padding: 10px 0 10px 0;
	font-size:2em !important;
}

h3.otsicon {
	font-size: 1.5em !important;
	padding: 10px 0 10px 0;
	text-transform: uppercase;
}

h2.icon2-sitemap:before {
	color: var(--vaaleaoranssi);
	padding-right: .4em;
	font-family: FontAwesome;
	content: "\f0e8";
}

h2.icon2-heart:before {
    color: var(--vaaleaoranssi);
	padding-right: .4em;
	font-family: FontAwesome;
	content: "\f004";
}

h2.icon2-chart:before {
    color: var(--vaaleaoranssi);
	padding-right: .4em;
	font-family: FontAwesome;
	content: "\f080";
}

h2.icon2-cam:before {
    color: var(--vaaleaoranssi);
	padding-right: .4em;
	font-family: FontAwesome;
	content: "\f030";
}

h2.icon2-leaf:before {
    color: var(--vaaleaoranssi);
	padding-right: .4em;
	font-family: FontAwesome;
	content: "\f06c";	
}

h2.icon2-sliders:before {
    color: var(--vaaleaoranssi);
	padding-right: .4em;
	font-family: FontAwesome;
	content: "\f1de";	
}

h2.icon2-truck:before {
    color: var(--vaaleaoranssi);
	padding-right: .4em;
	font-family: FontAwesome;
	content: "\f0d1";	
}

h2.icon2-cogs:before {
    color: var(--vaaleaoranssi);
	padding-right: .4em;
	font-family: FontAwesome;
	content: "\f085";	
}

h2.icon2-bolt:before {
    color: var(--vaaleaoranssi);
	padding-right: .4em;
	font-family: FontAwesome;
	content: "\f0e7";	
}


h3.icon2-linkit:before {
	display: inline-block;
    color: var(--vaaleaoranssi);
	padding-right: .4em;
	font-family: FontAwesome;
	content: "\f0c1";
}

h3.icon2-laajuus:before {
	display: inline-block;
    color: var(--vaaleaoranssi);
	padding-right: .4em;
	font-family: FontAwesome;
	content: "\f01e";
}

h3.icon2-hakuaika:before {
	display: inline-block;
    color: var(--vaaleaoranssi);
	padding-right: .4em;
	font-family: FontAwesome;
	content: "\f073";
}

h3.icon2-yhteystiedot:before {
	display: inline-block;
	color: var(--vaaleaoranssi);
	padding-right: .4em;
	font-family: FontAwesome;
	content: "\f041";
}

h3.icon2-ajankohtaista:before {
	display: inline-block;
	color: var(--vaaleaoranssi);
	padding-right: .4em;
	font-family: FontAwesome;
	content: "\f1ea";
}

h3.icon2-podcast:before {
	display: inline-block;
	color: var(--vaaleaoranssi);
	padding-right: .4em;
	font-family: FontAwesome;
	content: "\f130";
}

.calendar-month {
	background: #000 !important;
}

ul.amokhakuaikajana {
	display: flex;
	flex-flow: row wrap;
	padding-left:0px !important;
	justify-content: space-between;
}

ul.amokhakuaikajana > li {
    width: 10em;
	font-size: .850em !important;
	list-style-type:none;
}

ul.amokhakuaikajana > li b { font-size:2em;}

/* ? */

.myButton {
	background-color:transparent;
	-moz-border-radius: 28px;
	-webkit-border-radius: 28px;
	border-radius: 28px;
	border: 4px solid;
	border-color: var(--vaaleaoranssi);
	display: inline-block;
	cursor:pointer;
	color:#fff;
	font-family:Verdana;
	font-size:16px;
	font-weight:bold;
	padding: 2px 10px 2px 10px;
	text-decoration:none;
	width:100%;
	margin-bottom:1em;
}

a.myButton {
	font-weight:normal;
	text-decoration:none;
}

.myButton:hover {
	background-color:transparent;
}

.myButton:active {
	position:relative;
	top:1px;
}

/* ##===============- VIDEO BG -============## */

#videoBG {
	width: 100%;
    min-height: 100%;
	height: auto;
}

/* ##===============- CUSTOM TYYLIT -============## */

.infoteksti {
  font-size: 95%;
}

#registration_form h2 {
	font-size:1.3em;
	padding-top:1em;
}

.sivupikkukuva {
	width:95%;
	margin-top:20px;
}

#ark-footer {
		margin-top:50px;
}

div#ark-footer ul {
		margin:0 auto;
}
	
.ilmoittautumistilaotsikko {
	margin-top:1.1em;
	text-transform: uppercase;
	font-size:1.2em;
	font-weight:bold;
}

#ark-footer li {
		list-style-type:none;
		padding-right:25px;
		line-height:4em;
}

@media only screen and (max-width: 400px) {
#ark-footer li {
		display:inline-block;
		padding-right:10px;
		margin-bottom:10px;
    }
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
    border: 0px solid #c5c5c5 !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    border: 0px solid #c5c5c5 !important;
}

.ui-widget-content {
    border: 0px solid #dddddd !important;
}

.ui-widget {
	font-family: 'PT Sans Narrow', sans-serif !important;
}

.nostobanneri {
    margin-top: 2.5em;
}

#leftnav.col-xs-3 {
    padding-left:0px;
	padding-right:0px;
}

#oikeareuna.col-xs-3 {
	padding-right:0px;
}

.nostobanneri .ba-nosto {
	margin-bottom:2em;
}

.jokuhero img {
	width:100%;
}

.liukunuoli a:after {
    content: "\00BB";
	font-size: 8em;
	color: var(--vaaleaoranssi);
	transform: rotate(90deg);
	font-weight: 700;
	width: auto;
	display: inline-block;
}
.liukunuoli {
	bottom:2em;
	margin:0 auto;
	position: absolute;
	line-height: 25px;
	background:#FFF;
	height:2em;
	align-content: center;
	align-items: center;
	text-align:center;
    justify-content: center;	
}

.ba-nosto h2 {
	font-size:1.7em !important;
	margin-top:0px !important;
}

.ba-nosto a {
    width: 140px;
    margin-top: .75em;
	justify-content: center;
}

@media screen and (min-width:0\0) { /* IE-FIXES */
.ba-nosto h2 {
	line-height: 1.188em !important;
	}
}

.linkkilista a, .srfrContainer ul.srfrList a, .ko_nimi a, .breadcrumb a, #aksliderilista a, .category-modulehanke-alavalikko a, .category-moduletutkinnot-alavalikko a, .calendar a, footer li a, .dj-mobile-nav li a, a.lootalinkki {
	font-weight: normal !important;
}

dl.search-results dt.result-title:nth-of-type(even), dl.search-results dd.result-category:nth-of-type(even), dd.result-created:nth-of-type(even), dd.result-text:nth-of-type(odd) {
	background: #f0f0f0;
}

dt.result-title, dd.result-category, dd.result-created, dd.result-text {
	padding:4px 0px 4px 4px;
}
dt.result-title {
	font-size:1.250em;
}

.pagination-list li {
	list-style-type:none;
	display: inline-flex;
	padding:8px;
}

div.modal-content > div.modal-body > div#henkilokortti > fieldset > div.row > div.columns.col-sm-12.col-md-9 {
	clear:left;
}

div#henkilokortti > fieldset {
    text-align: left !important;
}

form#registration_form h2 {
	margin-top:0em !important;
}

form#registration_form label {
	font-size:1.2em !important;
}

form#searchForm {
	margin-top:2em;
}
/* form#searchForm:before {
	content: "Hae verkkosivuilta:";
} */
.stretched-link::after {
    position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	pointer-events: auto;
	content: "";
	background-color: rgba(0,0,0,0)
}
.thumbnail:hover {
	background-color: var(--haaleaoranssi);
}
.thumbnail {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto !important;
}
div.caption h3 {
	-moz-hyphens: auto !important;
	-ms-hyphens: auto;
	hyphens: auto !important;
	-webkit-hyphens: auto !important;
}
#oikeareuna .oikeareunapiilotus {display:none !important;}

.palvelut-gallery .caption h3, .tapahtuma-gallery .caption h3 {
	margin-top:	.625em !important;
}

.tapahtuma-gallery {
	width: 100%;
}

.tapahtuma-gallery .thumbnail img {
	padding-top:10px;
}

.tapahtuma-gallery .thumbnail .caption {
	margin-left:20px;
}
a.flockler-btn-load-more {
	display:block;
}
a.flockler-btn-load-more, a.pikalinkkipainike, div.infoloota a { /* SOME */
	margin-top:2em !important;
	border: 4px solid;
	border-color: var(--vaaleaoranssi);
	background-color: #FFF;
	border-radius: 30px;
	font-size: 1.2em;
}

a.flockler-btn-load-more::after, a.pikalinkkipainike::after, div.infoloota a::after {
    content: "\00BB";    
    font-weight: 700;
    font-size: 2em;
    color: var(--vaaleaoranssi);
    float: right;
    padding-right: 10px;
    line-height: 25px;
}

a.flockler-btn-load-more:hover, a.pikalinkkipainike:hover, div.infoloota a:hover {
	background-color: var(--haaleaoranssi);
}

.flockler-posts:not(.flockler-grid-items) a.flockler-btn-load-more {
	background-color: #fff;
}	

.flockler-posts:not(.flockler-grid-items) a.flockler-btn-load-more:hover {
	background-color: var(--haaleaoranssi);
}

a.pikalinkkipainike, div.infoloota a { 
	padding:12px; 
	display:inline-block;
	max-width:300px;
	width:100%;
	margin:0;
	text-align: center;
	margin-top: 0 !important;
}

a.pikalinkkipainike:focus {
	outline: var(--tummaoranssi) solid 4px;
}

.uutiskuvacontainer {
	 overflow: hidden;
	 height: 100%;
}

#aksliderilista > div > div.uutiskuvacontainer a {
	    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#aksliderilista.akslideri > div > div.uutiskuvacontainer a:hover {
  transform: scale(1.04);
}

/* #aksliderilista.akslideri > div a:hover {
  transform: scale(1.04);
} */

#aksliderilista.akslideri a.aklinkki {
	font-size: 1em !important;
}

div.srfrContainer ul.srfrList li a { /* BLOGIRSS */
	padding-top:4px;
	font-family: 'PT Sans Narrow', sans-serif !important;
	font-size: 1em !important;
}

ul.category-moduleopiskelijatarinat > li > div.mod-articles-category-group {
	font-size:2em;
	/* text-transform: capitalize; */
	margin-bottom:0.8em;
}

ul.category-moduleopiskelijatarinat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
}

.category-moduleopiskelijatarinat > li {
	/* list-style: none;
    display: inline-block;
    width: calc(100% / 3);
    height: auto; */

}

.opiskelijatarinat-thumb {
	width:100%;
	margin:15px 0px 15px 0px;
}

ul.category-moduleopiskelijatarinat li {
	list-style-type:none;
	/* margin-left: -40px !important; */
	padding-right:2.4em;
}

@media only screen and (max-width: 900px) {
  ul.category-moduleoamkinuutiset {
    flex-flow: row wrap;
  }
.category-moduleoamkinuutiset li {
	width:100% !important;
    padding-right: 0em !important;
}
}


ul.category-moduleoamkinuutiset li {
	list-style-type:none;
	/* margin-left: -40px !important; */
}

ul.category-moduleoamkinuutiset {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
}

.category-moduleoamkinuutiset li {
    list-style: none;
    display: inline-block;
    width: calc(100% / 3);
    height: auto;
  }

.category-moduleoamkinuutiset {
	margin-top:1em;
}
.category-moduleoamkinuutiset li {
	margin-bottom:1em;
	padding-right:2.4em;
}

.uutislista_otsikkosolu {
	font-size: .9em !important;
}

.videoupotus {
	margin: 2em 0 2em 0;
}
hlolista div.otsikko {
	clear:left;
}
table.vrh-tbl1 td {
	vertical-align:top;
}
table.vrh-tbl1 img {
	margin-top:2em;
}

.container img {
	max-width: 100%;
	height: auto;
}


.category-moduleopiskelijatarinat {
	margin-top:1em;
}
.category-moduleopiskelijatarinat li {
	margin-bottom:1em;
}

/* JUMBOTRON */

.jumbotron {
	position: relative;
    margin-left: calc(-50vw + 50% - 10px);	
	width: 100vw;
	background-color: #d37402;
	padding-top: 20px !important;
	border-radius: 0px !important;
}
.jumbotron a {
	color: #000;
	border: none;
	background-color: #FFF;
}
.jumbotron a.luelisaa:after {
	color: var(--vaaleaoranssi) !important;
}
.jumbotron a:hover {
	color: #000;
	background-color: var(--haaleaoranssi);
}
.jumbotron .lead {
	color: #FFF;
}
.jumbotron h2 {
	color: #FFF;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { /* Tablet */
	div.jumbotron a.luelisaa {
		margin-bottom:1em;
	}
}

@media only screen and (max-device-width: 600px) and (orientation: portrait) {
	div.jumbotron > div.container > div.col-md-12 {
		padding-left:1em;
		padding-right:1em;
	}

	div.jumbotron a.luelisaa {
		margin-bottom:1em;
		font-size: .875em !important;
		width: 260px;
	}
	
	div.jumbotron a.luelisaa:after {
		font-size:2em;
	}
	
	div.jumbotron .lead {
		font-size: 1em;
	}
}

.star-icon {
   margin-top: 40px !important;
}

.alert-secondary {
	background-color: #e2e3e5;
}

.card2 {
	padding:20px;
}

div.card2 .kuvake {
	font-size:2em;
	color: #222f3e;
}

ul.tags li a {
	text-decoration:none;	
	background-color: #CCC;
}

ul.tags li {
	list-style-type: none;
	display:inline-block;
}

ul.tags {
    padding-left: 0px;
}

.container {
	box-shadow: 0 0 0 0 white !important;
}

.moduletabletutkinnot-alavalikko h3 {
	font-size:1.2em;
}

.moduletablehanke-alavalikko ul, .moduletablehanke-alavalikko li a {
	list-style-type:none;
	text-decoration:none;
	padding-left: 0em !important;
}

.moduletablehanke-alavalikko li {
	padding-bottom: .8em;
	line-height:1.2em;
	font-size:1.075em !important;
}

.moduletablehanke-alavalikko h3 {
	font-size:1.2em;
}
.fullwidth {
	display:block;
	width:100%;
	text-align:left;
}

#uutisjuttu	img {max-width:100%; height:auto;}

.btn-dark {
  color: #fff !important;
  background-color: #222f3e;
  border-color: #222f3e;
}

.btn-dark:hover {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-dark:focus, .btn-dark.focus {
  box-shadow: 0 0 0 .2rem rgba(82, 88, 93, 0.5);
}

.btn-dark.disabled, .btn-dark:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
.show > .btn-dark.dropdown-toggle {
  color: #fff;
  background-color: #222f3e;
  border-color: #222f3e;
}

.btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
.show > .btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
}

/* SOMEKUVAKKEET */

.somebar {
	margin-top:2em;
	padding: 4px;
	width: 100%;
	font-weight: bold;
}
.somebar a {
	color: rgb(247, 147, 30) !important;
}
@media only screen and (max-device-width: 600px) and (orientation: portrait) {
	.somebar {
		text-align:center;
	}
}
.someicons {margin-top:3em;}
.someicons i {
    padding-left: .15em;
	font-size:1.4em;
}
.someicons, .someicons a, .someicons a:active, .someicons a:focus {
	color: var(--vaaleaoranssi);
}
.someicons i:hover, .someicons a:hover {
    color: #FFF;
	cursor: pointer;
}

#st-1 { /* ShareThis -blokki */
	margin-top:3.5em;
	margin-bottom:2em;
}

/* FOOTER */

.nuoliylos {
	width: 100%;
	text-align: center;
}
.nuoliylos a {
	text-decoration: none !important;
}
.nuoliylos a:before {
	display: block;
	font-size: 2em;	
	font-family: FontAwesome;
	content: "\f077";
}
footer,
footer a:link,
footer a:visited,
footer a:active {
	color: #FFF;
}
footer li {line-height:1.625em;}
.somebar a:link {border-bottom: 0 solid #fff;}
.somebar a:hover {color: var(--vaaleaoranssi) !important;}
footer a:hover {
	color: var(--vaaleaoranssi);
}	
footer.footer-full {
	margin-top:6.250em !important;
}
footer {
	background-color: #000;
	padding-bottom: 2em;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
footer ul {
	margin-left: 0 !important;
	padding-left: 0 !important;
}
footer li {
	list-style-type:none;
}

footer li:before {
  content: "\200B"; /* add zero-width space */
}

footer li:after {
  font-family: FontAwesome;
  padding-left:5px;
  content: "\F105";
}
footer h2 { /* wcag 2.0 fix: nesting headline titles */
	color: var(--vaaleaoranssi);
    font-size: 1.4em !important;
}

footer h3 {
	color: var(--vaaleaoranssi);
    font-size: 1.4em !important;
}
footer h4 {
	color: var(--vaaleaoranssi);
	margin-top: 20px !important;
}
.footer-full {
  margin: 0 auto !important;
  width: 100% !important;
}

#footerlogot ul {
    list-style-type: none;
}
#footerlogot img {
	width:40% !important;
}

#footerlogot li {
    text-decoration: none;
    color: #fff;
	margin-top: 1.2em;
}

/* QUOTE-kortti */

.text-center {
  text-align: center;
}
blockquote.quote-card {
  border-left: 0 solid #eee;
}
.quote-card {
  background: #fff;
  color: #222222;
  padding: 20px;
  padding-left: 50px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  min-height: 120px;
}
.quote-card p {
  font-size: 22px;
  font-family: NewsGoth-Cn-BT, news-gothic-std, sans-serif !important;
  line-height: 1.5;
  margin: 0;
  max-width: 80%;
}
.quote-card cite {
  font-size: 16px;
  margin-top: 10px;
  display: block;
  font-weight: 200;
  opacity: 0.8;
}
.quote-card:before {
  font-family: Georgia, serif;
  content: "“";
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 5em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
}
.quote-card:after {
  font-family: Georgia, serif;
  content: "”";
  position: absolute;
  bottom: -110px;
  line-height: 100px;
  right: -32px;
  font-size: 25em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
}
@media (max-width: 640px) {
  .quote-card:after {
    font-size: 22em;
    right: -25px;
  }
}

.quote-card.grey-card {
  background: #f7931e;
  color: #222222;
}
.quote-card.grey-card:before, .quote-card.grey-card:after {
  color: #FFF;
}

.quote-card.grey-card {
  background: #CCC;
  color: #222222;
}
.quote-card.grey-card:before, .quote-card.grey-card:after {
  color: #FFF;
}

/* RESPNMOB-TYYLIT */

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) { /* Tablet */

div.articlebody {
	padding-left: .938rem !important;
	padding-right: .938rem !important;
	}
}

@media (orientation:landscape) {
	.mprt {display:none;}
}

@media only screen and (max-device-width: 600px) and (orientation: portrait) {

h3.akkategoria { font-size:1.3em !important; }

.col-md-6.ba-nosto {
	padding-left:0;
	padding-right:0;	
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

div.uutiskuvacontainer{
	margin-top:2em;
}

.container {
	padding-left:0 !important;
	padding-right: 0 !important;
}

iframe {width: 100% !important;}

h4.kategoria { font-size:1.3em !important; padding-top:1em !important;}
.ko_nimi { font-size: .95rem !important;}
table, th, td, th { font-size: .95rem;}
td > p { font-size: .95rem;}
span.lead { font-size: 1.25rem;}

.banneritem center { margin-bottom: 2em; }

span.cert-stamp img { width: 100px !important;}

span.cert-stamp {
	width:100%;
	display: block;
	align-content: center;
	align-items: center;
	text-align:center;
    justify-content: center;
}

.moduletabletutkinnot-alavalikko {
	display:none;
}

.moduletablehanke-alavalikko {	
}

@media only screen and (max-device-width: 600px) and (orientation: portrait) {
	.kuva-oikealla {
		margin: 50px 0 10px 50px !important;
	}
}

.lahjoita {
	display:none;
}

h1.fpheadline:first-of-type {
	padding-top: .5em;
}

h1.fpheadline {
	font-size:2em !important;
	text-transform: uppercase;	
}

dd.ylakuvalabel > span.field-value {
	font-size: 2em;
}

#oikeareuna {
	clear: left;
}

.col-xs-9, .col-xs-3, .col-xs-6 {
    width: 100%;
}

.nostolinkit > ul li {
    flex: 50%;
    width: 25em;
	font-size: .750em !important;
	}
}

@media only screen and (max-device-width: 895px) and (orientation: landscape) {
	#oikeareuna {
		clear:left;
	}
	.col-xs-9, .col-xs-3, .col-xs-6 {
		width: 100%;
	}
}

@media screen and (min-width: 50.938em) and (orientation: landscape) {
	div.articlebody {
		padding-left: .938rem !important;
		padding-right: .938rem !important;
	}
}
